
<html>
<head>
    <title>KYC Alert</title>
    <meta charset="UTF-8">

    <style>

        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
        h1,h2,h3,h4,h5,h6,p,a{
            font-family: 'Roboto', sans-serif;
        }
        body{
            margin: 0;
            padding: 0;
        }
        header{
            width: 700px;
            margin: 0 auto;
            padding: 60px 0 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#218fec+48,1976cb+100 */
            background: #218fec; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #218fec 48%, #1976cb 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #218fec 48%,#1976cb 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #218fec 48%,#1976cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#218fec', endColorstr='#1976cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        header img{
            width: 50px;
            display: block;
            margin: 0 auto;
        }
        h1{
            font-weight: lighter;
            text-align: center;
            color: #fff;
            margin: 5px 0;
        }
        article{
            width: 650px;
            margin: 0 auto;
            padding: 15px 0;
        }
        article p{
            color: #4D4D4D;
            font-size: 13px;
            text-align: justify;
        }
        article div{
            text-align: center;
            margin: 40px 0;
        }
        article div p{
            text-align: center;
        }
        article a{
            color: #218FEC;
        }

        footer{
            background: #4D4D4D;
            width: 700px;
            margin: 0 auto;
            padding: 20px 0;
        }
        footer a{
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
            font-weight: lighter;
        }

    </style>

</head>
<body>
<header>
    <img src="https://chip-chap.com/images/chip-chap_white.png">
    <h1>KYC Alert</h1>
</header>
<article>
    {% if action == 'accepted' %}
        <p>This companies has been updated to <b>Tier {{ tier }}</b></p>
        <ul>
            {% for company in companies %}
                <li>{{ company.name }}</li>
            {% endfor %}
        </ul>
        <p>The kyc Manager of this company is {{ kyc.user.username }} ({{ kyc.user.email }})</p>
    {% elseif action == 'pending' %}
        <p>This user has requested a KYC validation for <b>tier {{ tier }}</b></p>
        <p>User => {{ kyc.user.username }} - {{ kyc.user.email }}</p>
    {% elseif action == 'approved_single' %}
        <h2>{{ companies.name }}</h2>
        {% if tier == 10 %}
            <p>The wallet has access to Bank of the Commons services.</p>
        {%  else %}
            <p>This company has been upload to <b>tier {{ tier }}</b></p>
            <p>User => {{ kyc.username }} - {{ kyc.email }}</p>
        {% endif %}
    {% else %}
        <p>Hi, your Tier request has been denied, please check your account.</p>
    {% endif %}

</article>
<footer>
    <a href="https://chip-chap.com/">www.chip-chap.com</a>
</footer>
</body>
</html>
