
<html>
<head>
    <title>Confirmation mail</title>
    <meta charset="UTF-8">

    <style>

        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
        h1,h2,h3,h4,h5,h6,p,a{
            font-family: 'Roboto', sans-serif;
        }
        body{
            margin: 0;
            padding: 0;
        }
        header{
            width: 700px;
            margin: 0 auto;
            padding: 60px 0 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#218fec+48,1976cb+100 */
            background: #218fec; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #218fec 48%, #1976cb 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #218fec 48%,#1976cb 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #218fec 48%,#1976cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#218fec', endColorstr='#1976cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        header img{
            width: 50px;
            display: block;
            margin: 0 auto;
        }
        h1{
            font-weight: lighter;
            text-align: center;
            color: #fff;
            margin: 5px 0;
        }
        article{
            width: 650px;
            margin: 0 auto;
            padding: 15px 0;
        }
        article p{
            color: #4D4D4D;
            font-size: 13px;
            text-align: justify;
        }
        article div{
            text-align: center;
            margin: 40px 0;
        }
        article div p{
            text-align: center;
        }
        article a{
            color: #218FEC;
        }

        footer{
            background: #4D4D4D;
            width: 700px;
            margin: 0 auto;
            padding: 20px 0;
        }
        footer a{
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
            font-weight: lighter;
        }

    </style>

</head>
<body>
<header>
    <img src="https://chip-chap.com/images/chip-chap_white.png">
    <h1>Welcome to Chip-Chap</h1>
</header>
<article>
    ENG
    <p>Welcome to Fairpay. From our control panel you can access online faircoin wallet online,  your transactions, send and receive faircoins and load your fairpay card.</p>
    <p>Provisionally the access to your account is from <a href="https://commerce.chip-chap.com">https://commerce.chip-chap.com</a> will soon be at <a href="https://fairpay.fairtoearth.com"> https://fairpay.fairtoearth.com</a> and we will notify you when it becomes available.</p>
    <p>Your Fairpay card has been activated in order to be ready for use when the card arrive to you. </p>
    <p>The Pin (security code) of your Fairpay Card is {{ pin }}</p>
    <p>Please validate yourself in one of the following links.</p>
    <p>Note that the entire fairpay system is still in betatesting. That can affect also to the messages that you observe in the web panel. If you detect any anomaly, notify us in fairpay@fair.coop</p>

    ESP
    <p>Bienvenid@ a Fairpay. Desde nuestro panel de control puedes acceder a tu monedero faircoin online, controlar todas tus transacciones, enviar y recibir faircoins y cargar tu tarjeta fairpay.</p>
    <p>Provisionalmente la via de acceso a tu cuenta es desde <a href="https://commerce.chip-chap.com"> https://commerce.chip-chap.com</a> pronto será en <a href="https://fairpay.fairtoearth.com"> https://fairpay.fairtoearth.com</a> ya te avisaremos cuando esté disponible.</p>
    <p>Tu tarjeta Fairpay ha sido activada para que la puedas usar cuando la tengas en las manos.</p>
    <p>El pin de tu tarjeta Fairpay es {{ pin }}.</p>
    <p>Por favor validala en uno de los links siguientes.</p>
    <p>Ten en cuenta que todo el sistema fairpay está aun en betatesting. Eso puede afectar tb a los mensajes que observas en en panel wen. Si detectas alguna alguna anomalia avisanos a fairpay@fair.coop</p>
    <table>
        <tr>
            <td>Company</td>
            <td>Link</td>
        </tr>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td><a href="{{ base_url }}{{ company.id }}/{{ confirmation_token }}">Validate</a></td>
            </tr>
        {% endfor %}
    </table>
</article>
<footer>
    <a href="https://chip-chap.com/">www.chip-chap.com</a>
</footer>
</body>
</html>
