<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receipt</title>
</head>
<body>
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body,p,b,li,a{font-family: 'Roboto', sans-serif;}
    html, body{
        margin: 0;
        padding: 0;
    }
    li,p{
        color: #706F6F;
    }
    body{
        border-bottom: 10px solid #2196f3;
        border-bottom: 10px solid -o-linear-gradient(90deg, #1976cb, #21abf3);
        border-bottom: 10px solid -webkit-linear-gradient(90deg, #1976cb, #21abf3);
        border-bottom: 10px solid -moz-linear-gradient(90deg, #1976cb, #21abf3);
        border-bottom: 10px solid linear-gradient(90deg, #1976cb, #21abf3);
    }
    header{
        background: #2196f3;
        background: -o-linear-gradient(90deg, #1976cb, #21abf3);
        background: -webkit-linear-gradient(90deg, #1976cb, #21abf3);
        background: -moz-linear-gradient(90deg, #1976cb, #21abf3);
        background: linear-gradient(90deg, #1976cb, #21abf3);
        padding: 180px 60px 30px;
        margin-top: -85px;
    }
    header h1{
        color: white;
    }
    header img{
        width: 220px;
    }
    .wrapper{
        padding: 60px 40px 60px 60px;
    }
    .wrapper-in{
        padding: 30px;
        border: 1px solid #CCCCCC;
    }
    p b{
        font-size: 18px;
    }
    .fright{
        float: right;
    }
    .left{
        float: left;
        width: 100%;
    }
    .right{
        float: left;
    }
    li{
        list-style: none;
        margin: 12px 0;
    }
    li b{
        padding-right: 20px;
        /*text-align: right;*/
        /*display: block;*/
    }
    .clear{clear: both;}
</style>
<header>
    <img src="https://chip-chap.com/images/logo-h-w.png">
</header>
<div class="wrapper">
    <p class="fright"><b>{{ transaction.created | date('d/m/Y') }} Hora: {{ transaction.created | date('H:i:s') }}</b></p>
    <p><b>Datos de la orden</b></p>
    <div class="wrapper-in">
        <div class="left">
            <ul>
                <li><b>Id transaccion:</b> {{ transaction.id }}</li>
                <li><b>Fecha de ejecucion:</b> {{ transaction.created | date('d/m/Y') }}</li>
                <li><b>Tipo de operacion: </b> {% if transaction.type == 'in' %}Deposit {% else %}Withdrawal {% endif %}{{ transaction.method }}</li>
                <li><b>Usuario:</b> {{ user.name }} {{ user.surname }}</li>
                <li><b>Ordenante: </b> {{ company.name }}</li>
                <li><b>Importe nominal: </b> {{ transaction.amount / 100 }} {{ transaction.currency }}</li>
                <li><b>IBAN: </b> {{ iban }}</li>
                <li><b>Código BIC:</b> {{ swift }}</li>
                <li><b>Banco beneficiario:</b></li>
                <li><b>Beneficiario:</b> {{ beneficiary }}</li>
                <li><b>Concepto:</b> {{ concept }}</li>
            </ul>
        </div>

    </div>
    <p><b>Datos operación</b></p>
    <div class="wrapper-in">
        <div class="left">
            <li><b>Estado</b> {{ transaction.status }}</li>
        </div>
    </div>
</div>
</body>
</html>