
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <meta charset="UTF-8">

    <style>

        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
        h1,h2,h3,h4,h5,h6,p,a{
            font-family: 'Roboto', sans-serif;
        }
        body{
            margin: 0;
            padding: 0;
            background: #f3f3f3;
            padding: 60px 30px;
        }
        .wrapper{
            max-width: 650px;
            min-width: 200px;
            margin: 0 auto;
            padding: 50px 20px;
            background: #fff;
            border-radius: 2px;
            -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.4);
            -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.4);
            box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.4);
        }
        .header img{
            width: 150px;
            display: block;
            margin: 5px auto 20px;
        }
        h3{
            font-weight: lighter;
            text-align: center;
            color: #666666;
            margin: 5px 0;
        }
        hr{
            border-color: #f3f3f3;
            width: 65%;
            margin-top: 18px;
        }
        .message p{
            color: #666666;
            font-size: 13px;
            text-align: center;
            margin: 35px 0;
        }

        .message a{
            background: #2192ef;
            color: #fff;
            padding: 8px;
            margin: 10px auto;
            display: block;
            width: 120px;
            text-decoration: none!important;
            font-size: 12px;
            text-align: center;
            transition: 0.3s;
        }
        .message a:hover{
            background: #2192ef;
        }
        .footer{
            color: #2192ef;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            font-weight: 300;
            font-size: 12px;
            margin-top: 25px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }


    </style>

</head>
<body>
<div class="wrapper">
    <div class="header">
        <img src="{{ company.companyImage }}">
        <h3>Welcome to {{ client_name }}</h3>
        <hr>
    </div>
    <div class="message">
        <p>Has solicitado un cambio de contraseña de tu usuario de {{ client_name }}.
            </br>
            Clicka sobre el siguiente link, se te redirigirá a la web de {{ client_name }} para cambiar tu contraseña.</p>
        <a href="{{ message }}">Recover Password</a>
    </div>
</div>
<a href="{{ url }}" class="footer">{{ client_name }} services</a>
</body>
</html>