    {% extends "FOSUserBundle::layout.html.twig" %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
        {% if error %}
            <div>{{ error|trans }}</div>
        {% endif %}

        <div id="page-signin-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{{ asset('bundles/telepayservices/demo/signin-bg-1.jpg') }}" alt="">
        </div>
  <div class="signin-container">
    <div class="signin-info">
      <a href="pages-signin.html" class="logo">
          <img class="logo" src="{{ asset('bundles/telepayservices/demo/logo-big.png') }}" alt="" style="margin-top: -5px;">&nbsp;
          Telepay Panel
      </a>
        <img src="{{ asset('bundles/telepayservices/demo/logotelepay.png') }}" alt="" >
        <!-- / .logo -->
    </div>
    <div class="signin-form">
        <form action="{{ path("fos_user_security_check") }}" id="signin-form_id" method="post">
            <div class="signin-text">
                <span>Sign In to your account</span>
            </div> <!-- / .signin-text -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group w-icon">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" class="form-control input-lg" placeholder="Username or email" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group w-icon">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="form-control input-lg" placeholder="Password" required="required" />
            </div>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <div class="form-actions">
                <input type="submit" class="signin-btn bg-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                <a href="" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
            </div>
        </form>
    </div>
  </div>
    {% endblock fos_user_content %}
