

<html>
<head>
    <title>{{ mail.subject }}</title>
    <meta charset="UTF-8">

    <style>

        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
        h1,h2,h3,h4,h5,h6,p,a{
            font-family: 'Roboto', sans-serif;
        }
        body{
            margin: 0;
            padding: 0;
        }
        header{
            width: 700px;
            margin: 0 auto;
            padding: 60px 0 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#218fec+48,1976cb+100 */
            background: {{ primary_color }}; /* Old browsers */
        }
        header img{
            width: 150px;
            display: block;
            margin: 0 auto;
        }
        h3{
            font-weight: lighter;
            text-align: center;
            color: #fff;
            margin: 5px 0;
        }
        article{
            width: 650px;
            margin: 0 auto;
            padding: 15px 0;
        }
        article p{
            color: #4D4D4D;
            font-size: 13px;
            text-align: justify;
        }
        article div{
            text-align: center;
            margin: 40px 0;
        }
        article div p{
            text-align: center;
        }
        article a{
            color: {{ primary_color }};
        }

        footer{
            background: {{ primary_color }};
            width: 700px;
            margin: 0 auto;
            padding: 20px 0;
        }
        footer a{
            color: #fff !important;
            text-decoration: underline;
            text-align: center;
            display: block;
            font-weight: lighter;
        }

    </style>

</head>
<body>
<header>
    <img src="{{ logo_url }}">
    <h3>{{ mail.subject }}</h3>
</header>
<article>

    {{ mail.body | raw }}
</article>
<footer>
    <a href="https://{{ landing_domain }}">{{ landing_domain }}</a>
</footer>
</body>
</html>
